@charset "utf-8";
/* CSS Document */

/* all tag rules go here */
body {
	background-image: url(assets/finalBodyBackground.jpg);
	background-attachment: fixed;
	background-position: center;
}
h1 {
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	
}
h2 {
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin-bottom: 0px;
	
}
h3 {
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin-top: 0px;
}
/* all id's go here */

#body {
	position: absolute;
	width: 1300px;
	background-image: url("assets/tempBodyContentBackground.jpg");
	top: 0px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border:5px solid black;
	border-top: none;
	border-bottom: none;
	text-align: left;
	
}
#mainBanner {
	border-top: 8px groove black;
	border-bottom: 8px ridge black;
}
#mySidenav {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
#mySidenav a {
  position: fixed; 
  left: -85px; 
  display: block;
  transition: 0.3s; 
  padding: 16px; 
  width: 110px; 
  height: 18px;
  text-decoration: none; 
  font-size: 18px; 
  color: white; 
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
	font-size: 18px;
}

#home {
  top: 20px;
  background-color: #00abcb;
}

#family {
  top: 80px;
  background-color: #9ccbe5;
}

#journal {
  top: 140px;
  background-color: #0d3459;
}

#spotlight {
  top: 200px;
  background-color: #a13469;
}
#career {
  top: 260px;
  background-color: #ec7b9b;
}

#review {
  top: 320px;
  background-color: #eab1a4;
}

#survey {
  top: 380px;
  background-color: #ca5f23;
}

#favorite {
  top: 440px;
  background-color: #c5b168;
}
#cause {
	top: 500px;
	background-color: darkslateblue;
}
#selfPortrait {
	float: left;
	padding: 10px;
	margin-right: 7px;
}
#hobbies {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	list-style: none;
}
#favMusic {
	background-image: url(assets/musicBackground.png);
	border-top: 5px groove blue;
	border-bottom: 5px ridge blue;
}
#favMovie {
	background-image: url(assets/movieBackground.jpg);
	border-top: 5px groove #4BFF81;
	border-bottom: 5px ridge #4BFF81;
		
	}
#favGame {
	background-image: url("assets/overwatchBackground.jpg");
	border-top: 5px groove #FF00BE;
	border-bottom: 5px ridge #FF00BE;
	color: #AFAFAF;
}
#favGame ul {
	list-style: none;
}
#Support {
	float: left;
	margin: 5px;
	width: 200px;
}
#Tank {
	margin: 5px;
	float: right;
	width: 280px;
}
#DPS {
	float: left;
	margin-left: auto;
	margin-right:1 auto;
	width: 300px;
}
#Feedback {
	margin: 0px auto 0px auto;
	width: 1000px;
}
/* all classes go here */

.body_text {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	margin: 10px;
}
.contact_info {
	font-style: italic;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding: 10px;
}
.img_float_left {
	float: left;
	margin: 10px;
	
}
.img_float_left_border {
	float: left;
	margin: 10px;
	border: 3px solid black;
}
.borderSolid {
	border: 3px solid black;
}
.caption {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.listUnordered {
	list-style-type: none;
	display: inline;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	margin: 10px;
}
.img_float_right {
	float: right;
	margin: 10px;
}
.img_float_right_border {
	float: right;
	margin: 10px;
	border: 3px solid black;
}
.icon {
	float: right;
}