@charset "utf-8";
/* CSS Document */

/* all tag rules go here */
body {
	background-image: url(assets/finalBodyBackground.jpg);
	background-attachment: fixed;
	background-position: center;
}
h1 {
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	
}
h1.intro {
	text-shadow: 2px 2px 2px #1A1A1A;
}
h1.family {
	text-shadow: 2px 2px 2px #575335;
}
h1.sisters {
	text-shadow: 2px 2px 2px #573553;
}
h1.career {
	text-shadow: 2px 2px 2px #10004A;
}
h2 {
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin-bottom: 0px;
	
}
h3 {
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin-top: 0px;
}
/* all id's go here */

#body {
	position: absolute;
	width: 1300px;
	background-image: url("assets/tempBodyContentBackground.jpg");
	top: 0px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border:5px solid black;
	border-top: none;
	border-bottom: none;
	text-align: left;
	
}
#mainBanner {
	border-top: 8px groove black;
	border-bottom: 8px ridge black;
}
#mySidenav {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
#mySidenav a {
  position: fixed; 
  left: -85px; 
  display: block;
  transition: 0.3s; 
  padding: 16px; 
  width: 110px; 
  height: 18px;
  text-decoration: none; 
  font-size: 18px; 
  color: white; 
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
	font-size: 18px;
}

#home {
  top: 20px;
  background-color: #00abcb;
}

#family {
  top: 80px;
  background-color: #9ccbe5;
}


#spotlight {
  top: 140px;
  background-color: #a13469;
}
#career {
  top: 200px;
  background-color: #ec7b9b;
}

#review {
  top: 260px;
  background-color: #eab1a4;
}

#survey {
  top: 320px;
  background-color: #ca5f23;
}

#favorite {
  top: 380px;
  background-color: #c5b168;
}
#cause {
	top: 440px;
	background-color: darkslateblue;
}
#selfPortrait {
	float: left;
	padding: 10px;
	margin-right: 7px;
}
#hobbies {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	list-style: none;
}
#favMusic {
	background-image: url(assets/musicBackground.png);
	border-top: 5px groove blue;
	border-bottom: 5px ridge blue;
	transition: 1s;
	background-repeat: round;
}
#favMovie {
	background-image: url(assets/movieBackground.jpg);
	border-top: 5px groove #4BFF81;
	border-bottom: 5px ridge #4BFF81;
	transition: 1s;
	background-repeat: round;
		
	}
#favGame {
	background-image: url("assets/overwatchBackground.jpg");
	border-top: 5px groove #FF00BE;
	background-repeat: round;
	border-bottom: 5px ridge #FF00BE;
	text-shadow: 1px 1px 2px white;
	transition: 1s;
}
#favGame ul {
	list-style: none;
}
#Support {
	float: left;
	width: 300px;
	margin-left: 50px;
	margin-right: 50px;
}
#Tank {
	float: left;
	width: 300px;
	margin-left: 50px;
	margin-right: 50px;
}
#DPS {
	float: left;
	width: 300px;
	margin-left: 50px;
	margin-right: 50px;
}
#Feedback {
	margin: 0px auto 0px auto;
	width: 1000px;
}
#Hobby {
	background-image: url("assets/hobbyBackground.jpg");
	background-repeat: round;
	border-top: 5px groove #4BFF81;
	border-bottom: 5px ridge #4BFF81;
	text-shadow: 1px 1px 2px white;
	transition: 1s;
}
#bverage {
	background-image: url("assets/coffee-background.jpg");
	background-repeat: round;
	border-top: 7px groove #3A3A3A;
	border-bottom: 7px ridge #3A3A3A;
	text-shadow: 1px 1px 2px white;
}
#food {
	background-image: url("assets/food-background.jpg");
	border-top: 7px groove #3D2519;
	border-bottom: 7px ridge #3D2519;
	background-repeat: round;
}
#anime {
	background-image: url("assets/ua.jpg");
	background-repeat: round;
	border-top: 7px groove blue;
	border-bottom: 7px ridge blue;
	text-shadow: 1px 1px 2px white;
}
#pets {
	border-top: 7px groove slategray;
	border-bottom: 7px ridge slategray;
	background-image: url("assets/pets-background.jpg");
	background-repeat: round;
}
#console {
	background-image: url("assets/xbox-background.jpg");
	border-top: 7px groove #4BFF81;
	border-bottom: 7px ridge #4BFF81;
	background-repeat: round;
	text-shadow: 1px 1px 2px white;
}
#genre {
	background-image: url("assets/brick.jpg");
	background-repeat: round;
	text-shadow: 1px 1px 2px white;	
}
#feedback {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    text-align: left;
}
#Daily {
	background-image: url("assets/dailyLife.jpg");
	background-repeat: round;
	text-shadow: 2px 2px 2px blue;
	border-top: 7px groove #3747E5;
	border-bottom: 7px ridge #3747E5;
}
#Deadly {
	background-image: url("assets/deadlyLife.jpg");
	background-repeat: round;
	text-shadow: 2px 2px 2px purple;
	border-top: 7px groove darkred;
	border-bottom: 7px ridge darkred;
}
#trial {
	background-image: url("assets/classtrial.jpg");
	background-repeat: round;
	text-shadow: 1px 1px 2px white;
	border-top: 7px groove #FF9B00;
	border-bottom: 7px ridge #FF9B00;
}
/* all classes go here */

.body_text {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	margin: 10px;
}
.contact_info {
	font-style: italic;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding: 10px;
}
.img_float_left {
	float: left;
	margin: 20px;
	
}
.img_float_left_border {
	float: left;
	margin: 20px;
	border: 3px solid black;
}
.borderSolid {
	border: 3px solid black;
}
.caption {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    text-align: left;
}
.listUnordered {
	list-style-type: none;
	display: inline;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	margin: 10px;
}
.img_float_right {
	float: right;
	margin: 20px;
}
.img_float_right_border {
	float: right;
	margin: 20px;
	border: 3px solid black;
}
.icon {
	float: right;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18px;	
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #00FF9B;
  width: 680px;
  margin: 0 auto;
  border-radius: 25px;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 25px;
}
.tab button:hover {
  background-color: #00E189;
}
.tab button.active {
  background-color: #00A664;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s;
} 
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
