/* CSS Document */
body {
	background-image: url(assets/body-background1.jpg);
	font-family: sans-serif;
}
#body {
	background-image: url(assets/body-background.png);
	margin-left: auto;
	margin-right: auto;
	width: 1560px;

}
h1 {text-align: center;
	font-size: 90px;
}
.underline {
	text-decoration: underline #6500BC;
}
section#PersonalWebsite {
	background-image: url(assets/MainBanner1.png);
	border-radius: 25px; 
	height: 291px;
	border: 10px solid black;
	
}
section#World-History {
	background-image: url(assets/World-History-Banner.jpg);
	border-radius: 25px; 
	height: 291px;
	border: 10px solid black;
}
h1.HeadingLink {
	text-align: center;
	font-size: 100px;
	color: red;
}
.aqua {
	color: aqua;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: #02FF00;
}
h2 {
	text-align: center;
}
.subheading {
	font-size: 45px;
}
#WD_PersonalWebsite {
	background-image: url("assets/finalBanner.jpg");
	height: 291px;
	border-radius: 25px;
	border: 10px solid black;

}